<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../system/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="../../../system/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../../public/css/style-1.css">
    <script src="../../../system/lib/ajax.js"></script>
    <link rel="icon" type="image/x-icon" href="../../../public/img/favicon.png">
    <title>MYStore</title>
</head>

<body>
    <div id="header-wrapper">
        <nav class="mobile-view">
            <div class="header-1 container d-flex justify-content-between">
                <div class="search-wrapper">
                    <div class="icon-searh icon-mini">
                        <img src="../../../public/img/icon/search.png" alt="icon">
                    </div>
                    <button class="icon-searh-cancel icon-mini">
                    <img src="../../../public/img/icon/cancel.png" alt="icon">
                </button>
                    <input type="text" name="" id="" class="input-search">
                </div>
                <button class="icon-small">
                <img src="../../../public/img/icon/cart.png" alt="icon">
            </button>
                <button class="icon-small">
                <img src="../../../public/img/icon/menu.png" alt="icon">
            </button>
            </div>
        </nav>
        <nav class="tablet-view">

        </nav>
    </div>
    <div id="body-page" class="container">
        <div class="component-1 container">
            <div class="category-bar-wrapper">
                <div class="category-bar-scroll">
                </div>
            </div>
        </div>
    </div>
    <script src="../../../public/js/reloadcss.js"></script>
</body>

</html>